<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xplicit App::-</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div><img src="#" class="headerLogo"/>
    </div>
    <div class="navbar-header">
        @Html.ActionLink("Developers", "Index", "Client", new {area = ""}, new {@class = "navbar-brand"})
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink($"Logout ({((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("given_name") == null ? "" : (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("given_name").Value)} {((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("family_name") == null ? "" : (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("family_name").Value)})", "Logout", "Account")
                }
            </li>
        </ul>
    </div>
</nav>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; My Trip Gallery</p>
        </footer>
    </div>
</body>
</html>
